@import "../../style/mixin";

.cart {
  padding: 1rem 3rem;

  .cart__subject {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem 0;
  }
  
  .cart__product-list-wrapper {
    display: flex;
    justify-content: center;
    
    .cart__product-list {
      width: 80%;

      .cart__product {
        padding: 1rem;
        border: 1px solid #000000;
        border-bottom: none;
        &:last-child {
          border-bottom: 1px solid #000000;
        }

        .cart__product__header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 0.5rem;

          .cart__product__header__remove {
            button {
              font-weight: bolder;
              border: none;
              outline: none;
              cursor: pointer;
              background: #ffffff;
            }
          }
        }
        
        .cart__product__body {
          display: flex;
          justify-content: left;
          .cart__product__body__image {
            margin-right: 0.5rem;
            img {
              width: 5rem;
            }
          }
          .cart__product__body__info {
            .cart__product__body__price {
              font-size: 1rem;
              font-weight: bolder;
              margin-bottom: 0.5rem;
            }
            .cart__product__body__count {
              width: 5rem;
              display: flex;
              align-items: center;
              .cart__product__body__display__count {
                display: inherit;
                justify-content: center;
                align-items: center;
                border: none;
                background: #efefef;
                width: 30px;
                height: 30px;
                font-size: 0.9rem;
              }
              button {
                font-size: 1rem;
                border: none;
                width: 30px;
                height: 30px;
                cursor: pointer;
              }
            }
          }
        }

        .cart__product__footer {
          font-size: 1rem;
          font-weight: bold;
          display: flex;
          justify-content: flex-end;
        }
      }
      .cart__product-list__not-found {
        width: 100%;
        height: 100%;
        color: #808080;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .cart__product-list__sum-account {
      width: 25rem;
      height: 5rem;
      margin-left: 2rem;
      padding-top: 3rem;

      .cart__product-list__display-account {
        border-radius: 0.5rem;
        box-sizing: border-box;
        background: #efefef;
        margin-bottom: 1rem;
        padding: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .cart__product-list__payment-account {
          font-size: 1.8rem;
          color: #ff0000;
          font-weight: bolder;
        }
      }

      .cart__product-list__payment {
        margin-bottom: 3rem;
        button {
          font-size: 1rem;
          width: 100%;
          height: 2.5rem;
          border-radius: 0.5rem;
          background: #ff0000;
          color: #ffffff;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
    }

    @include mobile {
      display: block;
      .cart__product-list__sum-account {
        margin: 0;
        width: 100%;
      }
      .cart__product-list {
        width: 100%;
      }
    }
  }
}