@import "../../style/mixin";

.list {
  .list-subject {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 2rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
  }
  
  .product-list {
    padding: 0 5%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);

    @include mobile {
      padding: 0 5%;
      grid-template-columns: repeat(2, 1fr);
    }

    .product {
      margin: 5% 5%;
      .product-image {
        img {
          width: 100%;
          height: 100%;
          border-radius: 0.5rem;
          cursor: pointer;
        }
      }
      .product-name {
        padding: 0.3rem 0;
        font-size: 0.8rem;
        font-weight: lighter;
      }
      .product-price {
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }
  .fetch-more-ref {
    width: 100%;
    height: 1px;
  }
}