@import "../../style/mixin";

.header {
  border-bottom: 0.5px solid #C0C0C0;
  
  .header__top {
    padding: 0.5rem;
    background-color: #f5f5f5;
    display: flex;
    order: 2;
    justify-content: flex-end;
    align-items: center;

    .header__top__cart {
      font-size: 0.7rem;
      color: #424242;
      margin-right: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .header__top__cart__count-product {
        margin-right: 0.2rem;
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        width: 0.8rem;
        height: 0.8rem;
        background: #FF0000;
        color: #ffffff;
        border-radius: 50%;
      }
    }
  }

  .header__main {
    order: 1;
    padding: 2rem;
    .header__main__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      
      img {
        width: 8rem;
        height: 3rem;

        cursor: pointer;
        user-select: none;
      }
    }
  }

  @include mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .header__top {
      display: flex;
      width: 6rem;
      height: 3rem;
      background-color: #ffffff;

      .header__top__cart {
        font-size: 1rem;
        .header__top__cart__count-product {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }
  }
}